{% extends 'polls/main_layout.html' %} 

{% block title %}{{ question.question_text}}{%endblock title %} 

{% block content %}
<div class="grid">
<form action="{% url 'polls:vote' question.id %}" method="post">
{% csrf_token %}
    <div class="card w-96 bg-neutral text-secondary-content mb-5 form-control">
        <div class="card-body items-start ">
            {% for choice in question.choice_set.all %}
                <label class="label">
                    <input class="rasio" type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{choice.id}}">
                    <span class="label-text font-semibold ml-5">{{ choice.choice_text }}</span>
                </label>
            {% endfor %}
        </div>
        <div class="card-actions">
            <button class="btn btn-block btn-success" type="submit" value="Votar">Votar</button>
        </div>
    </div>
</form>
{% if error_message %}
<div class="alert alert-error shadow-lg">
    <div>
      <svg xmlns="http://www.w3.org/2000/svg" class="stroke-current flex-shrink-0 h-6 w-6" fill="none" viewBox="0 0 24 24"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z" /></svg>
      <span>{{ error_message }}</span>
    </div>
</div>
{% endif %}
</div>
{% endblock content %}