{% extends 'polls/main_layout.html' %} 
{% block title %}Premios Platzi{%endblock title %} 

{% block content %}
<div class="grid">
  <div class="text-center font-semibold mb-5">Selecciona una de las preguntas</div>
  <div class="dark:text-gray-300">
    {% if latest_question_list %} {% for question in latest_question_list %}
    <div class="card w-96 bg-neutral text-secondary-content mb-5">
      <div class="card-body items-center text-center">
        <a href="{% url 'polls:detail' question.id %}"
          >{{question.question_text}}</a
        >
      </div>
    </div>
    {% endfor %} {% else %}
    <p>No polls are available.</p>
    {% endif %}
  </div>
  {% endblock content %}
</div>
