{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
	<head>
        <title>Premios latzi App</title>

		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		{% tailwind_css %}
	</head>

	<body>
        <div class="bg-gray-100 dark:bg-slate-800 font-sans leading-normal tracking-normal text-gray-500">
            <div class="navbar">
                <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 3v1m0 16v1m9-9h-1M4 12H3m15.364 6.364l-.707-.707M6.343 6.343l-.707-.707m12.728 0l-.707.707M6.343 17.657l-.707.707M16 12a4 4 0 11-8 0 4 4 0 018 0z"></path></svg>
                <input type="checkbox" class="toggle" id="toggle_dark" />
                <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M20.354 15.354A9 9 0 018.646 3.646 9.003 9.003 0 0012 21a9.003 9.003 0 008.354-5.646z"></path></svg>
            </div>
            <div class="container mx-auto h-screen">
                <section class="flex items-center justify-center dark:text-white m-10">
                    <h1 class="text-5xl">{% block title %} {% endblock %}</h1>
                </section>
                <section class="flex items-center justify-center">
                    {% block content %}
                    {% endblock %}
                </section>
            </div>
        </div>
        
	</body>
    <script>
        let dark = false
        document.getElementById("toggle_dark").addEventListener('click', () => {
            const body = document.getElementsByTagName('body')[0]
            dark = !dark
            if (dark) {
                body.classList?.add("dark")
            } else {
                body.classList?.remove("dark")
            }
        });
        
    </script>
</html>