{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
	<head>
        <title>Premios latzi App</title>

		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		{% tailwind_css %}
	</head>

	<body class="bg-gray-50 dark:bg-slate-800 font-sans leading-normal tracking-normal">
        <div class="navbar">
            <input type="checkbox" class="toggle toggle-xs object-right" checked />
        </div>
        <div class="container mx-auto h-screen">
			<section class="flex items-center justify-center dark:text-white m-10">
				<h1 class="text-5xl">{% block title %} {% endblock %}</h1>
			</section>
            <section class="flex items-center justify-center">
                {% block content %}
                {% endblock %}
            </section>
		</div>
	</body>
</html>